<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Event</title>
  </head>
  <body>
    <style>
      .error {
        color: red;
        font-size: 14px;
      }
    </style>

    <h1>Add Event</h1>

    <form
      th:action="@{/add}"
      th:object="${event}"
      method="post"
    >
      <label>Title:</label>
      <input
        type="text"
        th:field="*{title}"
      />

      <div
        th:if="${#fields.hasErrors('title')}"
        th:errors="*{title}"
      ></div>
      <br /><br />

      <label>Category:</label>

      <select th:field="*{category}">
        <option value="">Choose category</option>

        <option
          th:each="category : ${categories}"
          th:value="${category}"
          th:text="${category}"
        ></option>
      </select>

      <div
        th:if="${#fields.hasErrors('category')}"
        th:errors="*{category}"
      ></div>
      <br /><br />

      <label>Location:</label>
      <input
        type="text"
        th:field="*{location}"
      />

      <div
        th:if="${#fields.hasErrors('location')}"
        th:errors="*{location}"
      ></div>
      <br /><br />

      <button type="submit">Save</button>@
    </form>
  </body>
</html>
